{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Laser Zone. Лазерная эпиляция Петрозаводск</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'img/favicons/site.webmanifest'%}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"><!-- SEO --><!-- Краткое описание страницы  -->
    <meta name="description" content="Laser Zone - студия лазерной эпиляции, удаление нежелательных волос навсегда!">
    <!-- Не более 140 символов --><!-- Ключевые слова страницы  -->
    <meta name="keywords"
          content="лазерная эпиляция петрозаводск, лазерная эпиляция в петрозаводске, лазерная эпиляция, косметология петрозаводск, косметология в петрозаводске, шугаринг петрозаводск, шугаринг в петрозаводске, депиляция петрозаводск, депиляция в петрозаводске">
    <!-- Не более 20ти слов. Ключевые фразы разделяем запятой. --><!--Для социальных сетей-->
    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content=""><!-- описание страницы -->
    <meta property="og:description" content=""><!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content=""><!-- название сайта -->
    <meta property="og:site_name" content=""><!-- Технические --><!-- Автор страницы -->
    <meta name="Author" content=""><!-- Авторские права -->
    <meta name="Copyright" content=""><!-- Адрес автора -->
    <meta name="Address" content=""><!-- Yandex.Metrika counter -->
    <script type="text/javascript" async="" src="https://mc.yandex.ru/metrika/tag.js"></script>
    <script type="text/javascript">(function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter49860472 = new Ya.Metrika2({
                    id: 49860472,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks2");</script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/49860472" style="position:absolute; left:-9999px;" alt=""></div>
    </noscript><!-- /Yandex.Metrika counter -->
    <script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>
</head>
{% block content %}
{% endblock %}
{#<script src="{%  static 'js/wow.min.js' %}" defer=""></script>#}
{#<script src="{%  static 'js/benefits-script.js' %}" defer=""></script>#}
</html>